*{
    padding: 0;
    margin: 0;
} 

/*Aqui definimos um estilo global*/

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/*Aqui definimos o estilo do body que terá font arial e background de cor branca*/

header{
    background-color: rgb(230, 221, 221);
    font-family: Arial, Helvetica, sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Aqui definimos o estilo do header que terá background cinza claro, fonte arial, não terá margem e o conteúdo estará centralizado*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Aqui definimos o estilo do nav que terá os itens centralizados e margem superior e inferior de 20px*/

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*Aqui definimos o estilo do id "menu" que terá margem de 30px na esquerda*/

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    text-align: center;
    margin-top: 50px;
}

/*Aqui definimos o estilo da tag main que terá o texto alinhado no centro e margem superior de 50px*/

#image {
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}

/*Aqui definimos o estilo do id "image" que terá tamanho 150px, margem superior de 20px e margem esquerda de 20px*/

#titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

/*Aqui definimos o estilo do id "titulo" que terá margem superior e inferior de 20px, cor preta e texto centralizado*/

#icon {
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

/*Aqui definimos o estilo do id "icon" que terá tamanho 30px, margem superior de 20px e margem esquerda de 20px*/

footer{
    background-color: rgb(230, 221, 221);
    align-content: justify;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Aqui definimos o estilo do footer que terá background cinza claro, fonte arial, margem superior de 30px e o conteúdo estará justificado*/

#divisao {
    margin-left: 30px;
    padding: 15px;
}

/*Aqui definimos o estilo do id "divisao" que terá margem esquerda de 30px e espaçamento interno de 15px*/

#info{
    padding: 15px;
}

/*Aqui definimos o estilo do id "info" que terá espaçamento interno de 15px*/

#mapa
